Package: com.baldaran.powercuff-r3vamp
Name: Powercuff r3vamp
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Advanced power management and CPU throttling for iOS 16.
Maintainer: Baldaran
Author: rpetrich, dlevi309, Baldaran
Section: Tweaks
